#input-form{
    background: #DDDDDD;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 100px 100px 100px 100px;
    align-items: center;
}
#input-form h1{
    font-size: 48px;
    color: 
    #240D57;

}
.form{
    padding: 20px;
    font-size: 24px;
}