.App {
  text-align: center;
}

#landing-page{
  background: #DDDDDD;
  display: flex;
  flex-direction: row;
}
#landing-img{
  position: absolute;
  width: 440px;
  height: 775.69px;
  left: calc(50% - 440px/2 - 366px);
  top: 100px;
  filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
  border-radius: 35.1522px;
}

#content-section{
margin: auto;
text-align: right;
font-family: Arial, Helvetica, sans-serif;
padding: 150px 100px 305px 500px;
}
#heading{
  font-size: 64px;
  color: #240D57;

}
#description{
  font-size: 24px;
}
#create-event{
  width: 320px;
  background: linear-gradient(#8456EC, #E87BF8);
  color: white;
  padding: 16px;
  border-radius: 10px;
}

/* Event page */
